/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.getBackButton {
  background-color: lightpink !important;
  width: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
}
