<button (click)="getBack()" mat-button class="getBackButton">Powrót</button>

<div class="flagAndNameDiv">
  <img *ngIf="countryHttpData != null && countryHttpData.flags != null" class="flag"
       [alt]="countryHttpData.flags.png"
       [src]="countryHttpData.flags.png"
  />

  <div class="countryName">
    {{countryName}}
  </div>
</div>

<div class="dataDiv">
  <div *ngIf="countryHttpData != null && countryHttpData.capital != null">
    Stolica: {{countryHttpData.capital[0]}}
  </div>
  <div *ngIf="countryHttpData != null && countryHttpData.currencies != null">
    Waluta: {{getCurrency()}}
  </div>
  <div *ngIf="countryHttpData != null">
    Populacja: {{countryHttpData.population}}
  </div>
</div>
