.countryName {
  font-size: 50px;
  margin-left: 100px;
  font-style: oblique;
}

.flagAndNameDiv {
  display: flex;
}

.flag {
  border: black 1px double;
}

.dataDiv {
  margin-top: 50px;
  font-size: 25px;
  font-style: oblique;
  line-height: 50px;
}
