.toolbar {
  background-color: aqua;
  width: 100%;
  height: 80px;
  display: flex;
}

.logo {
  height: 80%;
  margin-left: 10px;
  margin-top: auto;
  margin-bottom: auto;
  display: block;
}

.footer {
  background-color: aqua;
  width: 100%;
  height: 80px;
  display: flex;
}

.mainBody {
  width: 100%;
  flex: 1 0 auto;
}

.screen {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.authorButton {
  background-color: lawngreen;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: 10px;
  margin-top: 10px;
}
