<div class="screen">
  <div class="toolbar">
    <img class="logo"
         alt="Logo"
         src="assets/images/logo.png"
    />
  </div>

  <div class="mainBody">
    <router-outlet></router-outlet>
  </div>

  <div class="footer">
    <button (click)="openAuthorPopUp()" class="authorButton" mat-button>O mnie</button>
  </div>
</div>
