.continentButton{
  width: 30%;
  height: 120px;
  background-color: lightpink !important;
  flex: 0 0 auto;
  margin-top: 20px;
  font-size: 40px;
  font-style: oblique;
}

.continentList{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
