<div class="continentList">
  <button (click)="chooseContinent(continent.restName)" class="continentButton" *ngFor="let continent of continents" mat-raised-button>{{continent.displayName}}</button>
</div>

