<button (click)="getBack()" mat-button class="getBackButton">Powrót</button>

<table mat-table [dataSource]="continentHttpData">

  <ng-container matColumnDef="flag">
    <th mat-header-cell *matHeaderCellDef>Flaga</th>
    <td mat-cell *matCellDef="let element">
      <img class="flag"
           [alt]="element.flags.png"
           [src]="element.flags.png"
      />
    </td>
  </ng-container>

  <ng-container matColumnDef="countryName">
    <th mat-header-cell *matHeaderCellDef>Nazwa państwa</th>
    <td mat-cell *matCellDef="let element">{{element.name.official}}</td>
  </ng-container>

  <ng-container matColumnDef="details">
    <th mat-header-cell *matHeaderCellDef>Szczegóły</th>
    <td mat-cell *matCellDef="let element">
      <button (click)="getDetails(element.name.official)" class="detailsButton" mat-button>Szczegóły</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="['flag', 'countryName', 'details']"></tr>
  <tr mat-row *matRowDef="let row; columns:['flag', 'countryName', 'details']"></tr>

</table>
